[package]
name = "common-tracing"
version = "0.1.0"
edition = "2024"

[dependencies]
tracing.workspace = true
tracing-subscriber.workspace = true
tracing-appender.workspace = true
serde.workspace = true
tracing-panic.workspace = true
backtrace.workspace = true
